* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fellix1';
  src: url('Fellix-Regular.woff2') format('woff2');
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Fellix1';
}

button,
p,
a,
li {
  font-family: Fellix1 !important;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 20px;
  width: 100vw;

}

.navbar button {
  transform: translateX(-35px) translateY(40px);
  width: 13vw;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  background-color: rgba(43, 42, 42, 0.733);
  border: 1px solid rgba(43, 42, 42, 0.733);
  gap: 10px;
  font-size: 15px;
  align-items: center;
  color: white;
  height: 5vh;
}

div +  p {
  font-size: 40px;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding-top: 35px;
}

.nav2 {
  display: flex;
  gap: 5px;
  list-style: none;
  width: 35vw;
  justify-content: space-around;
  background-color: rgba(43, 42, 42, 0.733);
  border: 1px solid rgba(43, 42, 42, 0.733);
  align-items: center;
  height: 35px;
}

main h1 {
  line-height: 1;
  font-size: 6vw;
}

main p {
  font-size: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.first {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.End {
  font-size: 20px;
  color: rgb(61, 63, 70);
  padding-bottom: 35px;
  text-align: center;
}

.End span {
  font-size: 20px;
  color: white;
}

.first .bg-vid {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: absolute;
}