* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fellix1';
  src: url('/Fellix-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fellix2';
  src: url("/Fellix-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'PP';
  src: url("/PP.ttf") format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Fellix1';
}


.navbar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 20px;
  width: 100vw;

}

.navbar button {
  transform: translateX(-35px) translateY(40px);
  letter-spacing: .2rem;
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: rgba(43, 42, 42, 0.733);
  border: 1px solid rgba(43, 42, 42, 0.733);
  gap: 10px;
  font-size: 12px;
  align-items: center;
  color: white;
  height: 5vh;
  font-family: 'PP';
}

div+p {
  font-size: 40px;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding-top: 35px;
}

.nav2 {
  display: flex;
  gap: 5px;
  list-style: none;
  justify-content: space-around;
  background-color: rgba(43, 42, 42, 0.733);
  border: 1px solid rgba(43, 42, 42, 0.733);
  align-items: center;
  height: 35px;
  font-family: 'PP';
  font-weight: 300;
  letter-spacing: .2rem;
  font-size: 12px;
  padding: 0 2rem;
}

main h1 {
  line-height: 1;
  font-size: 6vw;
}

main p {
  font-size: 20px;
  letter-spacing: .2rem;
  font-family: 'PP';
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 400;

  }
}

.first {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.End h3 {
  font-size: 20px;
  color: rgb(61, 63, 70);
  padding-bottom: 35px;
  text-align: center;
  background: -webkit-linear-gradient(180deg, rgb(61, 63, 70), #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.End h3 span {
  font-size: 20px;
  color: white;
  -webkit-text-fill-color: white;
}

.first .bg-vid {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: absolute;
}

.second {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: black;
}

.bg-vid1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main1 h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: .9;
}

.main1 h1 span {
  background: -webkit-linear-gradient(180deg, rgb(61, 63, 70), #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 50px;
}

.third {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}


.bg-vid1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  video {
    object-fit: cover;
    width: 80%;
    height: 100%;
  }
}

.main2{
  display: flex;
  z-index: 2;
  position: absolute;
  inset: 0;
  padding: 40px;
  font-size: 35px;
  line-height: 1;
  flex-direction: column;
  justify-content: flex-start;
    color: white;
  font-weight:100;
}